.product-card {
  background: #fff8f2;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.price {
  color: #d44a00;
  font-weight: bold;
  margin-top: 8px;
}

.desc {
  font-size: 0.9rem;
  color: #444;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0px 0px 0px;
}

.details-btn,
.add-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 8px 18px; 
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1;
  transition: 0.3s ease;
  box-shadow: 0 0 6px rgba(255, 107, 0, 0.6);
  
}

.details-btn {
  font-size: 0.9rem;
}

.details-btn:hover,
.add-btn:hover {
  background-color: var(--color-accent);
  box-shadow: 0 0 12px rgba(255, 211, 105, 0.9);
  transform: scale(1.05);
}
