<h2>Tu Caldero Mágico</h2>

<div *ngIf="items$ | async as items">
  <!-- Cuando está vacío -->
  <div class="cauldron-empty" *ngIf="items.length === 0">
    <p class="p-vacio">Tu caldero está vacío... ¡Agrega algunos encantos!</p>
    <img src="/assets/img/otros/Caldero-Vacio.png" alt="Caldero Vacío" />
  </div>

  <div class="cart-wrapper" *ngIf="items.length > 0">
    <!-- LISTA DE PRODUCTOS -->
    <div class="cauldron-list">
      <div class="cauldron-item" *ngFor="let item of items">
        <img [src]="item.product.image" [alt]="item.product.name" />

        <div class="item-info">
          <div class="top-row">
            <h3>{{ item.product.name }}</h3>

            <div class="qty-controls">
              <button (click)="decrease(item.product.id)">-</button>
              <span>{{ item.quantity }}</span>
              <button (click)="increase(item.product.id)">+</button>
            </div>
          </div>

          <div class="bottom-row">
            <p>{{ item.product.price }} / {{ item.product.unit }}</p>

            <button class="remove-btn" (click)="remove(item.product.id)">Remover</button>
          </div>
        </div>
      </div>
    </div>

    <!-- PANEL RESUMEN / TICKET -->
    <aside class="ticket-box">
      <h3>Resumen de la compra</h3>
      <p class="ticket-total">
        Total: {{ cauldronService.getTotalCOP() | currency : 'COP' : 'symbol' }}
      </p>

      <button class="clear-btn" (click)="clear()">Vaciar caldero</button>
      <button class="confirm-btn" (click)="goCheckout()">Confirmar compra</button>
    </aside>
  </div>
</div>
